.home-categories {     
    .card_section-item {
        margin-bottom: 30px;
    }
    .card_section-item-inner {
        text-align: center;        
        .card_section-header {
            margin: 0 auto 11px;            
        }
        .card_section-info {
            p {
                margin: 0 auto;
                @extend %fw-500;
                @extend %font-size-1;
            }
        }
    }
}