.collection-heading {
    @extend %display-flex;
    @extend %flex-wrap;
    @extend %align-items-center;    
    margin-bottom: var(--gutter-xs);
    > h3 {
        @include margin-end(var(--gutter-sm));
    }
    > a {
        color: var(--main-color);        
        margin-top: var(--gutter-xxs);
        display: inline-block;                
        @extend %position-relative;
        &:after {
            content: '';
            height: 1px;
            width: 100%;
            background: var(--main-color);
            transition: all 0.35s ease-in-out 0s;
            @include ab(n, 0, 0, n);
        }
        @media (hover: hover) {            
            &:hover {
                text-decoration: none;
                &:after {
                    width: 0;                    
                    left: 50%;
                    right: 50%;
                }
            }
        }
    }
}
.home-products-grid {    
    .row {
        margin-left: calc(-1* var(--gutter-xxs));
        margin-right: calc(-1* var(--gutter-xxs));
        > * {
            padding-left: var(--gutter-xxs);
            padding-right: var(--gutter-xxs);
        }
    }      
}
