/* Section Product Grid V3 */
.featured_block-special-item {
    position: relative;
    overflow: hidden;   
}
.home-products-grid-v3 {  
    .featured_product-group {
        @media (min-width: 768px) {
            margin-bottom: calc(-1 * var(--gutter-xlg));
        }
    }
    .featured_block-special-item {
        @extend %radius-default;
        img {
            object-fit: cover;           
        }
    }
    .block_content-svg-inner {
        margin: 0 calc(-1 * var(--gutter-xs));
        > div {
            display: inline-flex;
            align-items: center;
            padding: 0 var(--gutter-xs) var(--gutter-xxs);
            .svg-element-ui {
                @include margin-end(var(--gutter-ct));  
            }
        }
    }
    .featured_block-content {
        max-width: 100%;
        .card_section-product {
            .card_section-price {                
                display: inline-block;
                @include padding-end(7px);
            }
            del {
                // vertical-align: top;
            }
        }
    }
    .view-all-btn {
        text-align: center;
        margin: var(--gutter-xlg) 0 auto;
        > a {
            color: var(--main-color);                    
            display: inline-block;                    
            @extend %position-relative;
            &:after {
                content: '';
                height: 1px;
                width: 100%;
                background: var(--main-color);
                transition: all 0.35s ease-in-out 0s;
                @include ab(n, 0, 0, n);
            }
            @media (hover: hover) {            
                &:hover {
                    text-decoration: none;
                    &:after {
                        width: 0;                    
                        left: 50%;
                        right: 50%;
                    }
                }
            }
        }

    }
}
/* End Section Product Grid V3 */