/*remove_production*/
:root {    
    --body-base-size: 62.5%;      
    
    --heading-size-h1: 4.4rem;
    --heading-size-h2: 4.0rem;
    --heading-size-h3: 3.6rem;
    --heading-size-h4: 3.0rem;
    --heading-size-h5: 2.6rem;
    --heading-size-h6: 2.1rem;
    --heading-1-weight: 600;
    --heading-2-weight: 600;
    --heading-3-weight: 600;
    --heading-4-weight: 600;
    --heading-5-weight: 500;
    --heading-6-weight: 500;
   
    --topbar-bg-color: #F0F2F5;
    --topbar-color: #5B6C8F;
    --topbar-border: 16, 49, 120;

    --header-bg-desk: #ffffff;
    --header-text-color-desk: #5b6c8f;
    --header-icons-color-desk: #ff9923;
    --header-bg-cart-number-desk: #103178;
    --header-text-cart-number-desk: #ffffff;    
    --header-border-color-desk: 16, 49, 120;    

    --header-bg-mobile: #ffffff;
    --header-text-color-mobile: #5b6c8f;
    --header-icons-color-mobile: #ff9923;
    --header-bg-cart-number-mobile: #103178;
    --header-text-cart-number-mobile: #ffffff;    
    --header-border-color-mobile: 16, 49, 120;        
  
    --nav-size: 1.7rem; 
    --nav-weight: 600;
    --nav-link-color: #103178;
    --nav-link-hover: #ff9923;
    
    --body-font-size:  1.6rem;
    --body-font-weight: 400;
    --body-color: #5B6C8F;
    --body-link: #103178;
    --body-border-color: #F0F2F5;
    --body-bg-color: #fff;
    --main-color: #103178;
    --main-text-color: #fff;   
    --main-color-rgba: 16, 49, 120;     
    --breadcrumb-color: #5B6C8F;

    --section-heading-align: center;  
    --section-heading-cl: #103178;
    --section-heading-fs: 4rem;
    --section-heading-fw: 600;
    --section-heading-lh: 1.2;
    --section-subheading-cl: #103178;
    --section-subheading-fs: 2.4rem;
    --section-subheading-fw: 400;
    --section-subheading-lh: 35px;    
    
    --btn1-fw: 600;
    --btn1-cl: #fff;
    --btn1-bg-cl: #FF9923;
    --btn1-hover-cl: #fff;
    --btn1-hover-bg-cl: #103178;
    --btn1-border-width: 1px;
    --btn1-border-cl:transparent;
    --btn1-hover-border-cl: transparent;

    --btn2-fw: 600;
    --btn2-cl: #fff;
    --btn2-bg-cl: #103178;
    --btn2-hover-cl: #fff;
    --btn2-hover-bg-cl: #FF9923;
    --btn2-border-width: 1px;
    --btn2-border-cl: transparent;
    --btn2-hover-border-cl: transparent;

    --btn3-fw: 600;
    --btn3-cl: #103178;
    --btn3-bg-cl: transparent;
    --btn3-hover-cl: #103178;
    --btn3-hover-bg-cl: transparent;
    --btn3-border-width: 1px;
    --btn3-border-cl: #F0F2F5;
    --btn3-hover-border-cl: #103178;

    --price-color: #103178;
    --price-compare-color: #9BABCD;
    --price-sale-color: #FF9923;

    --rating-star-color: #FF9923;
    --rating-star-empty-color: #9BABCD;
    --sale-lb-cl: #ffffff;
    --sale-lb-bgcl: #FF9923;
    --hot-lb-cl: #ffffff;
    --hot-lb-bgcl: #F00000;
    --new-lb-cl: #ffffff;
    --new-lb-bgcl: #12A05C;

    --footer-heading-cl: #103178;
    --footer-heading-fw: 600;
    --footer-heading-fs: 18px;
    --footer-text-cl: #5B6C8F;
    --footer-link-cl: #103178;
    --footer-link-hover-cl: #FF9923;    
    --footer-copyright-border-top: #F0F2F5;
    --footer-copyright-cl: #103178;

    --bg-white: #ffffff;
    --border-radius-default: 999px;
    --gutter-xlg: 40px;
    --gutter-lg: 30px;
    --gutter-md: 25px;
    --gutter-sm: 20px;
    --gutter-xs: 15px;
    --gutter-xxs: 10px;
    --gutter-ct: 13px;    

    --product-item-name: 1.6rem;
    --product-item-price: 2rem;    
    --product-price-compare: 1.6rem;

    --special-border: #FF9923;
}
/*end_remove_production*/ 
