.home-categories { 
    .section_content-wrapper {
        border-bottom: 1px solid var(--body-border-color);
    }   
    .card_section-item {
        margin-bottom: 30px;
    }
    .card_section-item-inner {
        text-align: center;
        .svg-element-ui {
            margin: 0 auto;
        }
        .card_section-header {
            margin: 0 auto 11px;            
        }
        .card_section-info {
            p {
                margin: 0 auto;
                @extend %fw-500;
                @extend %font-size-1;
            }
        }
    }
}