
.featured_product__item, 
.empty_card {    
    margin-bottom: var(--gutter-sm);
    @media (min-width: 768px) {
        margin-bottom: var(--gutter-xlg);
    }
    .cart-action {
        .btn {
            padding: 0;
            .cart-btn-label {
                display: none;
            }
        }
    }
    .featured_product-overlay-btn {
		display: none;
		@media (min-width: 768px) {			
            @include ab(auto, 0, 0, n);
            display: flex;
            flex-wrap: wrap;
            align-items: center;            
			z-index: layer(product-button); 	
            > * {
                &:not(:last-child) {
                    @include margin-end(5px);
                }
            }
		}       
        .svg-element-ui {
            margin: 0;
            + span {
                display: none;
            }
        }
        .btn, a {
            padding: 0;
            width: 32px;
            height: 32px;
            border: 1px solid var(--body-border-color);
           @extend %radius-default;    
            @extend %display-flex;
            @extend %justify-content-center;
            @extend %align-items-center;               
            svg {
                width: 14px;
                path {
                    stroke: var(--main-color);
                }
            }
            @media (hover: hover) {
                &:hover {
                    border-color: var(--main-color);
                }
            }
        }		
	} 
    .featured_product-overlay {
        position: static;
        @extend %display-flex;
        @extend %align-items-center;            
        > * {                        
            transition: transform 0.3s ease-in-out;			            
            transform: translateY(32px);
            &:nth-child(2) {
                transition-delay: 0.1s;
            }
            &:nth-child(3) {
                transition-delay: 0.2s; 
            }
            &:nth-child(4) {
                transition-delay: 0.3s; 
            } 
            &:nth-child(5) {
                transition-delay: 0.4s; 
            } 
            &:not(:last-child) {
                @include margin-end(5px);
            }
        }
    }	
    p {
        margin: 0;
    }
    .featured-product_wrapper {
        &.imageCrop-true img {
			object-fit: cover;
		} 
		img {
			object-fit: contain;
		}
		&.catalog-true .cart-action { 
			display: none !important;    
		} 
        .featured-product_header {
            @extend %position-relative;
            margin-bottom: var(--gutter-xs);
            overflow: hidden;
        }
        .featured_product__item-info {
            .featured_product__item-name {
                font-size: var(--product-item-name);
                margin-bottom: 9px;
            }
            .product-price {
                font-size: vaf(--product-item-price);
            }
            .price-compare {
                font-size: var(--product-price-compare);
            }
        }
    }
    .swatch-variants-wrapper { 
		.swatch-option {
			margin: var(--gutter-xxs) 5px 0; 
			&:first-child {
				margin-top: var(--gutter-xs); 
			}
			.swatch-container .swatch-item {
				.swt-color {
					width: 15px;
					height: 15px;
					&:after {
						content: none;
					}
					&.active { 
                        &:before  {
                            opacity: 1;
                        }
                        &.customColor-white {
                            border-color: transparent;
                        } 
                    }
				}
				.swt-button {
					@extend %size-swatch; 
					padding: 2px 10px;
					font-size: calc(var(--body-font-size) - 0.4rem);
					&.active {
						@extend %size-swatch-active; 
					}
				} 
				.swt-image {
                   @extend %radius-default;
					background-position: center;
                    border: 1px solid var(--body-border-color);                    
                    background-size: cover;
                    width: 30px;
                    height: 30px;
					display: block;
					&.active {
						border-color: var(--main-color);
					}
					&:hover {
						@media (hover: hover) {
							border-color: var(--main-color);
						}
					}
				}
			}
		}
	}
    .featured_product__item-review {
		.spr-badge-caption {
			display: none; 
		}
		.loox-rating span {
			display: none;
		}  
		.ssw-review-count {
			display: none;
		}
	}
    @media (hover: hover) {
        &:hover {
            .featured_product-overlay {
                > * {                     
                    transform: translateY(0);
                }
            }
        }
    }
}