html {
    box-sizing: border-box; 
    -webkit-text-size-adjust:100%;
    font-size: var(--body-base-size);  
    padding-bottom: 0 !important;     //fix home 5  
}
.wf-active {
    body, select, input, textarea, .btn  {
       
    } 
    body .wl_sidebar .featured_product__item-info {
        button, .wl-remove-item  {
            
        }
    }
    .arn-compare-md table.product_comparison_template tr .view-btn {
        
    }
}
body {        
    line-height: 1.45;
    background: var(--body-bg-color);
    @extend %body-style;  
    @media (min-width: 992px) {
        -webkit-tap-highlight-color: transparent;
    }      
    &.menuMobile-is-active,
    &.modal-opened {
        overflow: hidden;
        height: 100%;
        max-height: 100vh;
        #mobile-bar{
            bottom: -100%;
        }
    }  
    &.lazy-loading {
        &:before { 
            content: "";
            @include fixed(0, 0, 0, 0);   
            z-index: 999;   
            background-repeat: no-repeat;
            background-position: center;  
        } 
    }     
}
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*[data-arn-action] {
    z-index: initial !important;   
} 
[data-media-id]:not(.active):not(.tns-slide-active) figure,
[data-media-thumbnail-id]:not(.tns-slide-active) figure{
    visibility: hidden;
}
.tns-slide-active[data-media-id] + [data-media-id]:not(.active):not(.tns-slide-active) figure {
    visibility: visible;
}
span.image__style {
    display: block;
    position: relative;
}
.imageCrop-true .bg__lazy {
    background-size: cover;
}
:focus {
    outline: none;
}
a {
    text-decoration: none;
    color: var(--body-link);
    @extend %transition;
    &:focus {
        outline: none;
    }
    &:hover {
        text-decoration: none;
        @media (hover: hover) {
            color: var(--body-link-hover); 
        }
    } 
}
[data-quick-view] *,
.svg-element-ui *,
a[data-target] *,
.btn *,
[data-dialog-trigger] *,
[data-dialog-close] *,
[data-item-remove] * {
    pointer-events: none;
}
svg {
    max-width: 100%;
    path {
        @extend %transition;
    }
}
p {
    margin: 2rem 0;
}
.hide {
    display: none !important;
}
ul, ol, dl {
    margin: 0;
}   
ul { padding: 0; list-style: disc inside none; }
ol { padding: 0; list-style: decimal inside none; }
.list-inline {
    li {
        display: inline-block;
    }
}
.list-style,
.list-inline,
.list-style-select {
    @extend %list-style-reset;
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -.25rem;
}
sup {
    top: -.5rem;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
.pointer {
    @extend %point-cursor;
}
dialog {
    color: transparent;  
}  
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.errors {
    color: var(--special-border);
    margin: 0 0 var(--gutter-md);
    ul {
        list-style: none;        
    }
}
.success {
    margin: 0 0 var(--gutter-md);
}
video {
    max-width: 100%;
}
table {
    border-collapse: collapse;
    width: 100%;
    th {
        text-align: left;
        font-weight: inherit;
    }
}
button {
    border: none;
    outline: none;
    background: none;   
    user-select: none; 
    appearance: none; 
    -webkit-font-smoothing: antialiased;  
    font-family: var(--body-font-family);
    @extend %transition;
    &:focus {
        box-shadow: 0 0 0 #fff;
    }
}
form {
    display: block;
    margin: 0;
    text-align: left;
}
select, input, textarea {
    border: none;
    background: #e6e6e6;    
    @extend %body-style;
    &:focus {
        border: none;
        outline: none;       
    }
}
input[type="submit"],
input[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select, input {
   @extend %radius-default;    
}
select {
    max-width: 100%;
    padding: 0 var(--gutter-md);
    height: 40px;
    line-height: 40px;    
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none; 
    -o-appearance: none;
    appearance: none;
    background-repeat: no-repeat;                  
    background-size: 9px 6px;
    background-position: calc(100% - 15px) center;
}
select::-ms-expand {
    display: none;
}
input, textarea {
    padding: 5px var(--gutter-sm);     
    &:focus {        
        box-shadow: 0 0 0 var(--main-color);
    }
    @include placeholder {
        color: var(--body-color);
    }
}
input {
    height: 40px;
}
textarea {    
    max-width: 100%;
    min-width: 100%;
}
.text-center {
    text-align: center !important;
}
.text-left {
    text-align: start !important;
}
.text-right { 
    text-align: end !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.text-underline {
    text-decoration: underline !important;
}
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
.vertical_align-top {      
    align-items: flex-start;
    align-self: flex-start;
}
.vertical_align-middle {    
    align-items: center;
    align-self: center;
}
.vertical_align-bottom {    
    align-items: flex-end;
    align-self: flex-end;
}
.border-top {
    border-top: 1px solid var(--body-border-color);
}   
.border-right {
    @include border-inline-end(1px, solid, var(--body-border-color));  
} 
.border-bottom {
    border-bottom: 1px solid var(--body-border-color);
} 
.border-left {
    @include border-inline-start(1px, solid, var(--body-border-color));
} 
@media (min-width: 768px) {
    .border-lg-top {
        border-top: 1px solid var(--body-border-color);
    }   
    .border-lg-right {
        @include border-inline-end(1px, solid, var(--body-border-color));  
    } 
    .border-lg-bottom {
        border-bottom: 1px solid var(--body-border-color);
    } 
    .border-lg-left {
        @include border-inline-start(1px, solid, var(--body-border-color));
    } 
}
@media (max-width: 767px) {
    .border-sm-top {
        border-top: 1px solid var(--body-border-color);
    }   
    .border-sm-right {
        @include border-inline-end(1px, solid, var(--body-border-color));  
    } 
    .border-sm-bottom {
        border-bottom: 1px solid var(--body-border-color);
    } 
    .border-sm-left {
        @include border-inline-start(1px, solid, var(--body-border-color));
    }
} 
.spr-starrating, .spr-starratings {
    .spr-icon {        
        top: 0;
        color: var(--rating-star-color); 
        &:before {  
            font-size: 100%;    
        }
        &.spr-icon-star-empty {
            color: var(--rating-star-empty-color);   
        } 
        &:not(:last-child) {
            @include margin-end(2px);
        }
    } 
}
.ssw-stars, .ssw-starsd, .ssw-stars-avg {          //app Growave  
    .ssw-icon-star {
        color: var(--rating-star-color);
    }
    .ssw-icon-star-empty {
        color: var(--rating-star-empty-color);  
    }
}
.loox-rating .loox-icon {  
    @include margin-end(5px); 
    &.loox-star-o {
        color: var(--rating-star-empty-color);  
    }    
}  
.btn {
    @extend %point-cursor;
    @extend %transition;
    display: inline-block;
    padding: var(--gutter-xxs) 40px;
    line-height: 26px;    
}
.btn-1 {
    font-weight: var(--btn1-fw);
    color: var(--btn1-cl);
    background: var(--btn1-bg-cl);
    border-width: var(--btn1-border-width); 
    border-style: solid;
    border-color: var(--btn1-border-cl);    
    &:hover {
        @media (hover: hover) {
            color: var(--btn1-hover-cl);
            background: var(--btn1-hover-bg-cl);
            border-color: var(--btn1-hover-border-cl); 
        }  
    }
}
.btn-2 {
    font-weight: var(--btn2-fw);
    color: var(--btn2-cl);
    background: var(--btn2-bg-cl);
    border-width: var(--btn2-border-width);
    border-style: solid;
    border-color: var(--btn2-border-cl);
    &:hover {
        @media (hover: hover) {
            color: var(--btn2-hover-cl);
            background: var(--btn2-hover-bg-cl);
            border-color: var(--btn2-hover-border-cl);
        }
    }
}
.btn-3 {
    font-weight: var(--btn3-fw);
    color: var(--btn3-cl);
    background: var(--btn3-bg-cl);
    border-width: var(--btn3-border-width);
    border-style: solid;
    border-color: var(--btn3-border-cl);
    &:hover { 
        @media (hover: hover) {
            color: var(--btn3-hover-cl);
            background: var(--btn3-hover-bg-cl);
            border-color: var(--btn3-hover-border-cl);
        }
    }
}
img {
    max-width: 100%;
    &.img-lazy {
        @include ab(0, 0, n, n);
    }
    &.lazyload:not([src]) {opacity: 0;}
}
.image--style { 
    position: relative;
    display: block; 
}
.image--style img.img_lazy {     
    object-fit: cover;    
    width: 100%; 
    @include ab(0, 0, n, n);
}
.quantity-product input[type="number"] {
    -moz-appearance: textfield;
}
.overlay-ui {
    @include ab(0, 0, n, n);
} 
.f-break {
    width: 100vw !important;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);    
    flex: 0 0 100vw;
    max-width: 100vw;
}
.f-break-mobile {
    @media (max-width: 767px) {        
        width: 100vw !important;
        position: relative;
        left: calc(-1 * (100vw - 100%) / 2);    
        flex: 0 0 100vw;
        max-width: 100vw;
    }
}   
.placeholder-svg {
    background: rgba(var(--main-color-rgba), 0.1);
    @extend %display-flex;
}
.svg-element-ui {
    @extend %display-flex;
    @extend %align-items-center;
    @extend %justify-content-center;    
}
.product-price {
    color: var(--price-color);
    display: inline-flex;
    flex-wrap: wrap;
    @extend %align-items-center;
    .price-compare {
        color: var(--price-compare-color);
        text-decoration: line-through;
    }
    .price-sale {
        color: var(--price-sale-color);
    }
    > span:not(:last-child) {        
        @include padding-end(7px);
    }
}
.label_ui-group {
    @include ab(0, 0, n, n);   
    @extend %display-flex;
    @extend %flex-wrap;     
}
.label_ui {    
    line-height: 16px;
    padding: 0 8px;    
    font-size: 11px;    
    text-align: center;
    text-transform: uppercase;
    display: block;
   @extend %radius-default;    
    margin: 0;
    @include margin-end(3px);
    @extend %fw-700;
}
.label_ui-sale {
    color: var(--sale-lb-cl);
    background: var(--sale-lb-bgcl);
}
.label_ui-hot {
    color: var(--hot-lb-cl);
    background: var(--hot-lb-bgcl);
}
.label_ui-new {
    color: var(--new-lb-cl);
    background: var(--new-lb-bgcl);
}
.slide_ui-controls--dot,
.tns-nav {
    text-align: center;
    margin: var(--gutter-sm) auto 0;            
    @extend %display-flex;
    @extend %flex-wrap;
    @extend %align-items-center;
    @extend %justify-content-center;
    button {
        width: 12px;
        height: 12px;        
        transform: scale(0.68);        
        opacity: (0.2);
        padding: 0;
        margin: 0 5px;
        cursor: pointer; 
        background: #000;
        @extend %radius-circle;
        @extend %transition;
        
        &:hover {
            @media(hover: hover) {
                opacity: 1;
            }
        }
        &.tns-nav-active {
            opacity: 1;
            transform: scale(1);
        }
    }
}
.slide_ui-controls--nav {
    > button {
       @extend %btn-control;
       z-index: layer(slide-ui);        
    }
    .slide_ui-btn-prev {
        @include ab(50%, 20px, n, n);
    }
    .slide_ui-btn-next {
        @include ab(50%, n, n, 20px);
    }
}
.tns-inner {
    .featured_product__item, 
    .empty_card {
        margin: 0;
    }
    .tns-item {
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}   
.row.slide_ui-element {
    flex-wrap: nowrap !important;
    overflow: hidden;
}
.slide-flex-preload.slide_ui-element:not(.tns-slider) {
    @extend %display-flex;
}
.section_content-body {
    @extend %position-relative;
    .tns-slider {        
        @media (min-width: 768px) {
            display: flex;
        }
    }
}
.breadcrumb-list {
    @extend %list-style-reset;
    @extend %display-flex;
    @extend %align-items-center;
    padding: var(--gutter-xxs) 0;
    margin: 0 0 var(--gutter-xxs);
    overflow: hidden;
    overflow-x: auto;    
    li {
        a {
            color: var(--breadcrumb-color);
            white-space: nowrap;
            @extend %font-size-3;
            &:hover {
                @media (hover: hover) {
                    color: var(--body-link-hover);
                }
            }
        }        
        &.svg-element-ui {
            padding: 0 var(--gutter-xs);
            svg path {
                fill: var(--breadcrumb-color);
            }
        }
        &.active {
            a {
                @extend %section-heading-cl;
            }
        }
    }
}
.boxed-wrapper {
    &:after {                       // apply compare
        content: ""; 
        @include background-black;
    }  
    iframe {
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%; 
    }
    > footer {
        background: var(--footer-bg);  
    }
}
.bg__lazy {
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center center;
}
.modal-open .boxed-wrapper {         // apply compare
    position: relative;  
    &:after {           
        @include background-black-active;   
    }   
}   
.modal-ui {   
    display: none; 
    &.is-open {
        display: block;
        > div[data-dialog-close] { 
            @include background-black-active;  
        }
    } 
    > div[data-dialog-close] { 
        @include background-black; 
    }
    &:not(.cart-drawer) { 
        > div:not([data-dialog-close]) {  
            @include fixed(50%, 50%, n, 0); 
           @extend %radius-default;
            z-index: layer(popup-content); 
            animation: mmfadeIn .3s cubic-bezier(0,0,.2,1);            
            background: var(--body-bg-color);
            padding: var(--gutter-lg) var(--gutter-sm);          
            width: calc(100% - var(--gutter-lg));
            max-width: 700px;
            max-height: 95vh;  
            overflow: hidden;
            overflow-y: auto;
            transform: translate(-50%, -50.1%); 
            animation: mmfadeIn .3s cubic-bezier(0,0,.2,1);
            @media (min-width: 992px) {  
                padding: var(--gutter-lg);  
            }
            > div {
                width: 100%;
                color: var(--body-color); 
            }
        }  
        button[data-dialog-close] {
            @extend %point-cursor;
            @include ab(0, n, n, 0);
            width: 45px;
            height: 45px;
            font-size: 40px;
            color: var(--main-color);
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                @extend %point-event;
            }
        }
    }
    #dialogNotify-content {
        .dialog-body {
            text-align: center;
        }
        .dialog-button {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            >a {
                margin-top: var(--gutter-xs);
                width: 100%;
                text-align: center;
                @media (min-width: 576px) {
                    width: auto;
                    &:not(:last-child) {
                        @include margin-end(var(--gutter-xs));
                    }
                }
            }
        }
    }
}
.page-heading {
    >  h1, > .title {
        @extend %section-heading-cl;
        margin: 0 0 var(--gutter-lg);
        @media (min-width: 768px) {
            margin-bottom: var(--gutter-xlg);
        }
    }
    > div {
        display: flex;
        margin: 0 0 var(--gutter-lg);
        overflow-x: auto;
        overflow-y: hidden;  
        @media (min-width: 768px) {
            margin-bottom: var(--gutter-xlg);
        }       
        small {
            @include padding-start(var(--gutter-xxs));
        }
    }
}
#backToTop {
    @include fixed(n, n, 55px, 20px);
    @extend %display-flex;
    @extend %align-items-center;
    @extend %justify-content-center;
    @extend %transition;     
    width: var(--gutter-xlg);
    height: var(--gutter-xlg);
    padding: 0;    
    background: rgba(0,0,0,0.1);
    transform: scale(0, 0);    
    @media (min-width: 992px) {   
        bottom: 10px; 
    } 
    .svg-element-ui {
        margin: 0;
    }
    svg {
        width: 15px;
        height: 15px;
        path {
            fill: var(--main-text-color);  
        }   
    }
    &:hover {
        background: var(--main-color);  
    }
    &.active {
        opacity: 1;
        z-index: layer(backtotop);   
        transform: scale(1, 1); 
    }
}
/*=== Curreny popup Language popup ===*/
#currencyModal, #languageModal {
    .modal-title {
        margin-bottom: var(--gutter-md); 
        color: var(--main-color); 
        @media (max-width: 767px) {
            font-size: calc(var(--heading-size-h2) - 1rem); 
        }
    }
    ul {                
        @extend %display-flex;
        @extend %flex-wrap;
        @extend %align-items-center;
        @extend %justify-content-center;
        li {
            padding: 5px; 
            @extend %list-style-reset;
            @media (max-width: 575px) {
                width: 100%;
            }
            a {
                @extend %display-flex;                
                @extend %align-items-center;
                @extend %justify-content-center;
                padding: 5px 18px;   
                border-radius: 42px;  
                width: 100%;                
                font-size: calc(var(--body-font-size) - 0.3rem); 
                font-weight: 600;
                line-height: 19px;                 
                border: 1px solid var(--body-border-color);
                &:hover, &.active { 
                    border: 1px solid var(--main-color);
                }
            }
        }
    }
}
#currencyModal  ul li {
    .currency-flag {
        @include margin-end(5px); 
    } 
}
/* wishlist sidebar */
body .wl_sidebar .featured_product__item-info {
    button, .wl-remove-item {
        line-height: 26px;
        padding: 5px 15px;  
        font-weight: var(--btn1-fw);
       @extend %radius-default;         
    }
    button {
        color: var(--btn1-cl);
        background: var(--btn1-bg-cl);
        border-width: var(--btn1-border-width); 
        border-style: solid;
        border-color: var(--btn1-border-cl);    
        &:hover {
            color: var(--btn1-hover-cl);
            background: var(--btn1-hover-bg-cl);
            border-color: var(--btn1-hover-border-cl);   
        }
    }
    .wl-remove-item { 
        color: var(--btn2-cl);  
        background: var(--btn2-bg-cl);
        border-width: var(--btn2-border-width);
        border-style: solid;
        border-color: var(--btn2-border-cl);
        &:hover {
            color: var(--btn2-hover-cl);
            background: var(--btn2-hover-bg-cl);
            border-color: var(--btn2-hover-border-cl);
        }
    } 
}  
/* compare */
.arn-compare-md {
    table.product_comparison_template tr .view-btn { 
        white-space: nowrap; 
        padding: var(--gutter-xxs) 50px;
        line-height: 26px;
        font-weight: var(--btn1-fw);
        color: var(--btn1-cl);
        background: var(--btn1-bg-cl);
        border: var(--btn1-border-width) solid var(--btn1-border-cl);    
       @extend %radius-default;        
        &:hover {
            color: var(--btn1-hover-cl);
            background: var(--btn1-hover-bg-cl);
            border-color: var(--btn1-hover-border-cl);   
        } 
    }
}