/* Topbar */
.header-row {
    @extend %display-flex;
    @extend %align-items-center;    
    @extend %position-relative;
    .widget-social-icons {
        @extend %display-flex;
        @extend %align-items-center;
        li {
            padding: 5px 0;
            a {
                display: block;
                line-height: var(--gutter-lg);                
                svg path {
                    color: var(--body-link);
                }
            }
            &:not(:last-child) {
                @include margin-end(var(--gutter-sm));
            }
        }
    }
    &:not(.header-topbar) {
        .header-icons {
            .btn {
                @extend %display-flex;
                @extend %align-items-center;
                min-height: 40px;
                &:not(:last-child) {
                    @include margin-end(var(--gutter-lg));
                }  
                .number {
                    @include ab(-8px, n, n, -12px);
                    @extend %fw-600;
                    @extend %radius-circle;
                    text-align: center;
                    width: var(--gutter-sm);
                    height: var(--gutter-sm);
                    line-height: var(--gutter-sm);    
                    font-size: 9px;                      
                    background: var(--main-color);
                    color: #fff;
                 }
                @media (min-width: 1025px) {
                    &:hover {
                        .number {                            
                            animation-name: hvr-icon-bob-float, hvr-icon-bob;                            
                            animation-duration: .3s, 0.75s;                            
                            animation-delay: 0s, .3s;                            
                            animation-timing-function: ease-out, ease-in-out;                            
                            animation-iteration-count: 1, infinite;                            
                            animation-fill-mode: forwards;                            
                            animation-direction: normal, alternate;
                        }
                    }
                }
            }
        }
    }
}
.header-topbar {
    @extend %justify-content-between;
    .horizontal-menu > .main-menu > li > a,
    .header-custom-text-info p, 
    .select-dropdown-group-ui .select-dropdown-element-ui > a {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .header-custom-text-info p a {
        color: var(--main-color);
    }    
    .header-icons {
        .btn {
            padding-top: 5px;
            padding-bottom: 5px;
            @extend %display-flex;
            @extend %align-items-center;
            @include padding-start(var(--gutter-sm));
            @include padding-end(var(--gutter-lg));
        }
        .number {
            @include margin-start(8px);
        }
    }
}
.header-border-wrapper {
    .header-border-item {
        border-top: 1px solid var(--body-border-color);
    }
}
.topbar-left {
    .select-dropdown-group-ui {
        @extend %display-flex;
        @extend %align-items-center;
    }
    .select-dropdown-element-ui {
        &:not(:last-child) {
            @include margin-end(var(--gutter-lg));
        }
    }  
}
.topbar-right {
    @extend %display-flex;
    @extend %align-items-center;
    justify-content: flex-end;
    .select-dropdown-group-ui {
        .select-dropdown-element-ui {
            &:not(:last-child) {
                @include margin-end(var(--gutter-lg));
            }
        }        
    }
    > * {
        &:not(:last-child) {
            @include padding-end(var(--gutter-lg));
        }
    }
}
.select-dropdown-group-ui {
    @extend %display-flex;
    @extend %align-items-center;
}
.header-custom-text-info {
    p {
        margin: 0 auto;
        line-height: 25px;
        padding: 5px 0;        
    }
}
/* End Topbar */