/* Topbar */
.announcement-bar {
    background: var(--topbar-bg-color);
    color: var(--topbar-color);
    position: relative;
    min-height: var(--gutter-lg);
    @extend %font-size-2;
    @media (max-width: 1300px) {        
        @include padding-end(var(--gutter-lg));
    }
    @media (min-width: 992px) {
        z-index: layer(header-relative);    //fix black background hover menu; 
    }  
    p {
        margin: 0;
        padding: 6px 0;
        line-height: 18px;
        color: inherit;
        b {
            @extend %fw-600;
        }
    }
    button.btn {
        padding: 0;        
        width: var(--gutter-lg);
        height: var(--gutter-lg);
        line-height: var(--gutter-lg);
        text-align: center;
        @include ab(50%, n, n, 0);
        @include translateY(-50%);
        svg path {
            stroke: var(--topbar-color);
        }
    }
    .menu-list,
    .list-inline,
    .select-dropdown-group-ui {
        @extend %list-style-reset;
        @extend %display-flex;
        @extend %align-items-center;        
    }
    .menu-list,
    .list-inline {        
        > li {  
            padding: 6px var(--gutter-xxs);
            line-height: 18px;                     
            > a {                
                @extend %display-flex;
                @extend %align-items-center;
                color: var(--topbar-color);
                svg path {
                    fill: var(--topbar-color);
                }
            }
        }
    }
    .menu-list {
        > li {
            padding-left: var(--gutter-xxs);
            padding-right: var(--gutter-xxs);
            @media (min-width: 1230px) {
                padding-left: var(--gutter-sm);
                padding-right: var(--gutter-sm);
            }
            &:not(:last-child) {                
                @include border-inline-end(1px, solid, rgba(var(--topbar-border), 0.1));
            }
            > a {
                padding: 0 5px;
            }
        }
    }
    .widget-social-icons {
        padding: 0 var(--gutter-xxs);
        @media (min-width: 1230px) {
            padding-left: var(--gutter-xs);
            padding-right: var(--gutter-xs);
        }
    }
    .select-dropdown-group-ui {
        > div {
            padding: 6px var(--gutter-xs);
            line-height: 18px;   
            @media (min-width: 1230px) {
                padding-left: var(--gutter-md);
                padding-right: var(--gutter-md);
            }
            &:not(:last-child) {                
                @include border-inline-end(1px, solid, rgba(var(--topbar-border), 0.1));
            }          
            > a {
                @extend %display-flex;
                @extend %align-items-center;
                color: var(--topbar-color);                
            }
            .svg-element-ui {                
                @include margin-start(var(--gutter-xxs));
                @extend %display-flex;
                @extend %align-items-center;
                svg path {
                    fill: var(--topbar-color);
                }
            }
        }
    }   
    .annoubar-column {
        @extend %display-flex;
        @extend %flex-wrap;                
        > div {
            @extend %display-flex;
            @extend %align-items-center;    
            &.annoubar-colItem-text {
                &:not(:last-child) {                    
                    @include padding-end(var(--gutter-xxs));
                    @media (min-width: 1230px) {                        
                        @include padding-end(var(--gutter-sm));
                    }
                }
            }     
            &:not(:last-child) {                
                @include border-inline-end(1px, solid, rgba(var(--topbar-border), 0.1));
            }
            &:last-child {
                .select-dropdown-group-ui > div:last-child,
                .widget-social-icons,
                .menu-list > li:last-child, 
                .menu-list > li:last-child > a,
                .list-inline > li:last-child {                    
                    @include padding-end(0);
                }                
            }  
            &:first-child {
                .select-dropdown-group-ui > div:first-child,
                .widget-social-icons,
                .menu-list > li:first-child, 
                .menu-list > li:first-child > a,
                .list-inline > li:first-child {                    
                    @include padding-start(0);
                }                
            }             
        }
    }
}
.header-row {
    @extend %display-flex;
    @extend %align-items-center;    
    @extend %position-relative;
    .svg-element-ui {
        @include margin-start(10px);
    }    
    .widget-social-icons {
        @extend %display-flex;
        @extend %align-items-center;
        li {
            padding: 5px 0;
            a {
                display: block;
                line-height: var(--gutter-lg);                
                svg path {
                    color: var(--body-link);
                }
            }
            &:not(:last-child) {
                @include margin-end(var(--gutter-sm));
            }
        }
    }
    &:not(.header-topbar) {
        .header-icons {
            .btn {
                @extend %display-flex;
                @extend %align-items-center;
                min-height: 40px;
                &:not(:last-child) {
                    @include margin-end(var(--gutter-lg));
                }  
                .number {
                    @include ab(-8px, n, n, -12px);
                    @extend %fw-600;
                    @extend %radius-circle;
                    text-align: center;
                    width: var(--gutter-sm);
                    height: var(--gutter-sm);
                    line-height: var(--gutter-sm);    
                    font-size: 9px;                      
                    background: var(--header-bg-cart-number-desk);
                    color: var(--header-text-cart-number-desk);
                 }
                @media (hover: hover) {
                    &:hover {
                        .number {                            
                            animation-name: hvr-icon-bob-float, hvr-icon-bob;                            
                            animation-duration: .3s, 0.75s;                            
                            animation-delay: 0s, .3s;                            
                            animation-timing-function: ease-out, ease-in-out;                            
                            animation-iteration-count: 1, infinite;                            
                            animation-fill-mode: forwards;                            
                            animation-direction: normal, alternate;
                        }
                    }
                }
            }
        }
    }
}
.header-topbar {
    @extend %justify-content-between;
    .horizontal-menu > .main-menu > li > a,
    .header-custom-text-info p, 
    .select-dropdown-group-ui .select-dropdown-element-ui > a {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .header-custom-text-info p a {
        color: var(--main-color);
    }    
    .header-icons {
        .btn {
            padding-top: 5px;
            padding-bottom: 5px;
            @extend %display-flex;
            @extend %align-items-center;
            @include padding-start(var(--gutter-sm));
            @include padding-end(var(--gutter-lg));
        }
        .number {
            @include margin-start(8px);
        }
    }
}
.topbar-left {
    .select-dropdown-group-ui {
        @extend %display-flex;
        @extend %align-items-center;
    }
    .select-dropdown-element-ui {
        &:not(:last-child) {
            @include margin-end(var(--gutter-lg));
        }
    }  
}
.topbar-right {
    @extend %display-flex;
    @extend %align-items-center;
    justify-content: flex-end;
    .select-dropdown-group-ui {
        .select-dropdown-element-ui {
            &:not(:last-child) {
                @include margin-end(var(--gutter-lg));
            }
        }        
    }
    > * {
        &:not(:last-child) {
            @include padding-end(var(--gutter-lg));
        }
    }
}
.select-dropdown-group-ui {
    @extend %display-flex;
    @extend %align-items-center;
}
.header-custom-text-info {
    p {
        margin: 0 auto;
        line-height: 25px;
        padding: 5px 0;   
        color: var(--header-text-color-desk);
    }
}
/* End Topbar */