/* Header */
.header-mobile {
    padding: var(--gutter-xs) 0;
    background: var(--header-bg-mobile);
    color: var(--header-text-color-mobile);    
    svg path {
        stroke: var(--header-icons-color-mobile);
    }
    .search-ui-btn svg path {
        fill: var(--header-icons-color-mobile);
    }
    .number {        
        background: var(--header-bg-cart-number-mobile);
        color: var(--header-text-cart-number-mobile);
    } 
    .header-border-item {
        border-bottom: 1px solid rgba(var(--header-border-color-mobile), var(--header-border-color-mobile-opacity));
        padding-top: var(--gutter-xs);
    }   
}
.select-dropdown-group-ui {
    .select-dropdown-element-ui {
        > a {
            @extend %display-flex;
            @extend %align-items-center;
            line-height: 24px;
            color: var(--header-text-color-desk);
            padding: var(--gutter-xxs) 0;
            svg path {
                fill: var(--header-text-color-desk);
            }
            &:hover {
                color: var(--body-link-hover);
                svg path {
                    fill: var(--body-link-hover);
                }
            }
        }
    }
}
.header-block {
    .layout-full {
        .header-content {
            padding-left: 3%;
            padding-right: 3%;
            @media (min-width: 1320px) {
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }
}
.header-desktop {
    @media (min-width: 992px) {
        background: var(--header-bg-desk);
        border-bottom: 1px solid rgba(var(--header-border-color-desk), var(--header-border-color-desk-opacity));    
        .header-icons {
            svg path {
                stroke: var(--header-icons-color-desk);
            }
            .search-ui-btn svg path {
                fill: var(--header-icons-color-desk);
            }
        } 
        .logo-wrapper { 
            display: flex;
        }    
    }  
    .logo-site {
        display: inline-flex;
        img {
            width: 100%;
        }
    }  
}
.header-sticky.active {
    .header-desktop, .header-mobile {
        @include fixed(0, 0, n, 0);
        z-index: layer(header-sticky);    
        animation: animation-top-bottom 0.5s both;  
        box-shadow: 0 0 6px rgba(32,33,36,.15);   
    }
    .header-desktop {
        &.h-desk-1, &.h-desk-2 {
            .header-row-1, .header-border-wrapper {
                display: none;  
            }  
        }
    }
}
.header-icons {
    @include padding-start(16px);
    @extend %display-flex;
    @extend %align-items-center;   
    > a {
        > .svg-element-ui {
            margin: 0;
        }
    }    
    .btn {
        padding: 0;        
        line-height: var(--gutter-lg);
        @extend %position-relative;                      
    }   
    .topbar-switcher {
        @include margin-end(22px);
        .select-dropdown-element-ui {
            @include margin-end(var(--gutter-md));
        }
    }
}
.mobile-search-box {
    @extend %display-flex;
    width: 100%;
}
.form-search-ui {
    @extend %position-relative;
    @extend %display-flex;
    width: 100%;
    form {
        @extend %display-flex;
        @extend %align-items-center;
        @include margin-start(auto);
        max-width: 515px;
        width: 100%;
        background: #f0f0f0;
       @extend %radius-default;  
        input {
            width: 100%;
            height: 40px;
            background: none;
        }
        button {
            padding: 0 var(--gutter-xxs);                
            height: 38px;
            @extend %display-flex;
            @extend %align-items-center;
            @extend %justify-content-center;
            svg path {
                stroke: var(--body-color);
            }
            .svg-element-ui {
                margin: 0;
            }
        }
    }
}
.header-search {
    @include padding-end(23px);    
}
.form-search--result-list {
    @include ab(100%, 0, n, n);
    @extend %list-style-reset;
    min-width: 100%;
}
.header-row-1 {
    display: block;
    padding: var(--gutter-md) 0 6px;
    .row {        
        @extend %align-items-center;
        > div {
            padding: 0 var(--gutter-xs);
        }        
    }
}
.header-row-2 {   
    @extend %position-relative; 
    .secondary-menu-wrapper {
        @include margin-start(auto);
    }
}
.horizontal-menu {
    > .main-menu {
        > li {                   
            > a {
                display: block;
                line-height: 23px;
                padding: var(--gutter-sm) 0;
                font-size: var(--nav-size);
                font-weight: var(--nav-weight);
                color: var(--nav-link-color);
                &:hover {
                    color: var(--nav-link-hover);
                }
            }
            &.highlight {
                > a {
                    font-weight: var(--body-font-weight);
                    font-size: var(--body-font-size);
                }
            }
            &:not(.nav-mm) {
                @extend %position-relative;
            }            
        }
    }
}
.section-header-1,
.section-header-2 {  
    .header-row-1 {
        .row {
            > .nav-mobile {
                @include padding-end(5px);
                @include padding-start(35px);                
            }            
        }        
    }   
    .nav-mobile .nav--mobile {
        border: 1px solid rgba(var(--header-border-color-desk), var(--header-border-color-desk-opacity));
       @extend %radius-default;
        padding: 7px var(--gutter-md);
        color: var(--header-text-color-desk);
        svg path {
            fill: var(--header-text-color-desk);
        }
    }  
    .header-col-3 {
        @include margin-start(auto);
    }
}
.section-header-1 {   
    .header-row-1 {
        .row {
            > .nav-mobile {                
                @include margin-end(auto);
            }            
        }        
    }       
    .header-row-2 {        
        > * {
            &:not(:last-child) {
                @include padding-end(var(--gutter-xlg));
            }
        }
        .topbar-text {
            @include margin-start(auto);
        }
    }
    .header-custom-text-info {
        a {
            color: var(--main-color);
        }
    }     
    .header-search {
        flex: 1;
    }
}
.section-header-2 {
    .horizontal-menu {
        @include padding-start(35px); 
    }
}
.templateIndex {
    .header-overlay:not(.active) {  
        .header-block {
            position: relative;
        }
        .header-desktop {
            @media (min-width: 992px) {
                @include ab(0, 0, n, n);  
                width: 100%;                  
                z-index: layer(header-absolute);
                background: transparent; 
            }
        }
        .header-mobile {
            @include ab(0, 0, n, n);  
            width: 100%;                  
            z-index: layer(header-absolute);
            background: transparent; 
        } 
    }    
}
/* End Header */